.table {
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    text-align: center;
    border-collapse: collapse;
  }
  .line {
    border: 1px solid black;
  }
  .line:nth-child(even) {
    background-color: #bababa;
  }
  .headtittle {
    background-color: #1c1c1c;
    color: white;
  }
  .tittle {
    padding: 8px;
    border: 1px solid black;
  }
  .lineitem {
    border: 1px solid black;
    text-transform: capitalize;
  }